<tr class="splitItems">
    <td>/{img}/</td>
    <td>Sting</td>
    <td>20.00 lv</td>
    <td>
        <form action="/cart-update" method="post">
            <button type="button">-</button>
            <input type="number" required="required" value="{{quantity}}">
            <button type="button">+</button>
            <input type="submit" name="commit" value="Change">
        </form>
    </td>
    <td>40.00 lv</td>
</tr>