<h2>Cart</h2>
<br>

<h3>Tickets</h3>
<table>
    <thead>
        <tr class="splitItems">
            <th>Ticket</th>
            <th></th>
            <th>Price one ticket</th>
            <th>Quantity</th>
            <th>Final price</th>
        </tr>
    </thead>
    <tbody>
        {{#each tickets}}
            {{> ticket}}
        {{/each}}
    </tbody>
</table>
<br>

<div>
    <span>Subtotal (7 items): 200 lv</span>
    <button>Order</button>
</div>