<h1>Team "Lemon"</h1>
<div id="infoMembers">
    <h2>Members:</h2>
    <ol>
        <li>S.Georgiev91</li>
        <li>PC_USER</li>
        <li>as.lo</li>
        <li>slav_97</li>
        <li>Alish</li>
    </ol>
</div>
<div id="siteInfo">
    <span>Link to <a href="https://github.com/DavidStoyanov/JSCoreTeamwork-OnlineTicketStore">GitHub</a></span>
    <span>Link to <a href="https://trello.com/b/38bLReq3/js-core-teamwork-online-ticket-store">Trello</a></span>
    <span>Link to <a href="https://marvelapp.com/project/2211501">Marvel</a></span>
</div>