<article class="filter-categories">
    Filter options

    <div class="custom-controls-stacked">
        Data
        <label class="custom-control custom-radio">
            <input id="radioStacked1" name="radio-stacked" type="radio" class="custom-control-input">
            <span class="custom-control-indicator"></span>
            <span class="custom-control-description">Next 7 days</span>
        </label>
        <label class="custom-control custom-radio">
            <input id="radioStacked2" name="radio-stacked" type="radio" class="custom-control-input">
            <span class="custom-control-indicator"></span>
            <span class="custom-control-description">Next 30 days</span>
        </label>
    </div>
    <div class="custom-controls-stacked">
        Event type
        <label class="custom-control custom-radio">
            <input id="1" name="event" type="radio" class="custom-control-input">
            <span class="custom-control-indicator"></span>
            <span class="custom-control-description">Concerts</span>
        </label>
        <label class="custom-control custom-radio">
            <input id="2" name="event" type="radio" class="custom-control-input">
            <span class="custom-control-indicator"></span>
            <span class="custom-control-description">Festivals</span>
        </label>
        <label class="custom-control custom-radio">
            <input id="3" name="event" type="radio" class="custom-control-input">
            <span class="custom-control-indicator"></span>
            <span class="custom-control-description">Theater</span>
        </label>
        <label class="custom-control custom-radio">
            <input id="4" name="event" type="radio" class="custom-control-input">
            <span class="custom-control-indicator"></span>
            <span class="custom-control-description">Plays</span>
        </label>
    </div>
</article>