<article class="view-categories">
    <div class="view-category">
        <div class="ticket-img">
            <img src="./img/img1.jpg">
        </div>
        <div class="category-text">Game of thronesGame of thronesGame of thronesGame of thronesGame of
            thronesGame of thrones
        </div>
        <div class="category-btns">
            <button type="button" id="buyNow" class="btn btn-info btn-sm">Buy now</button>
            <button type="button" id="detailsEvent" class="btn btn-warning btn-sm">Details</button>
            <button type="button" id="deleteEvent" class="btn btn-danger btn-sm">Delete</button>
        </div>
    </div>
</article>