<article id="viewHome">
    {{> filterBox}}
    {{#each tickets}}
        <article class="view-categories">
            <div class="view-category">
                {{> ticketBox}}
                <div class="category-btns">

                    {{#if ../loggedIn}}
                        <button type="button" id="buyNow" class="btn btn-info btn-sm">Buy now</button>
                    {{/if}}

                    <a type="button" id="detailsEvent" href="#/details/{{_id}}"
                       class="btn btn-warning btn-sm">Details</a>
                    {{#if ../isAdmin}}
                        <a type="button" id="editEvent" href="#/ticket/edit/:{{_id}}"
                           class="btn btn-danger btn-sm">Edit</a>
                        <a type="button" id="deleteEvent" href="#/ticket/delete/:{{_id}}" class="btn btn-danger btn-sm">Delete</a>
                    {{/if}}
                </div>
            </div>
        </article>
    {{/each}}
</article>