<article class="view-categories">
    <div class="view-category">
        <div class="ticket-img">
            <img src="{{imageUrl}}">
        </div>
        <div class="category-text">
            <h4>{{title}}</h4>
            <span>{{description}}</span>
        </div>
        <div class="category-btns">
            <button type="button" id="buyNow" class="btn btn-info btn-sm">Buy now</button>
            <a type="button" id="detailsEvent" href="#/details/{{_id}}" class="btn btn-warning btn-sm">Details</a>
            <button type="button" id="deleteEvent" class="btn btn-danger btn-sm">Delete</button>
        </div>
    </div>
</article>