<form class="form-signin" action="#/register" method="post">
    <h2 class="form-signin-heading">Please sign up</h2>
    <input type="text" name="username" class="form-control" placeholder="Username" required="" autofocus="">
    <input type="text" name="name" class="form-control" placeholder="Name" required="" autofocus="">
    <input type="email" name="email" class="form-control" placeholder="Email" required="" autofocus="">
    <input type="password" name="password" class="form-control" placeholder="Password" required="">
    <input type="password" name="repeatPass" class="form-control" placeholder="Repeat password" required="">
    <input class="btn btn-lg btn-primary btn-block" type="submit" value="Sing up" />
</form>