<article id="viewHome">
    <article class="filter-categories">
        Filter options

        <div class="custom-controls-stacked">
            Data
            <label class="custom-control custom-radio">
                <input id="radioStacked1" name="radio-stacked" type="radio" class="custom-control-input">
                <span class="custom-control-indicator"></span>
                <span class="custom-control-description">Next 7 days</span>
            </label>
            <label class="custom-control custom-radio">
                <input id="radioStacked2" name="radio-stacked" type="radio" class="custom-control-input">
                <span class="custom-control-indicator"></span>
                <span class="custom-control-description">Next 30 days</span>
            </label>
        </div>
        <div class="custom-controls-stacked">
            Event type
            <label class="custom-control custom-radio">
                <input id="1" name="event" type="radio" class="custom-control-input">
                <span class="custom-control-indicator"></span>
                <span class="custom-control-description">Concerts</span>
            </label>
            <label class="custom-control custom-radio">
                <input id="2" name="event" type="radio" class="custom-control-input">
                <span class="custom-control-indicator"></span>
                <span class="custom-control-description">Festivals</span>
            </label>
            <label class="custom-control custom-radio">
                <input id="3" name="event" type="radio" class="custom-control-input">
                <span class="custom-control-indicator"></span>
                <span class="custom-control-description">Theater</span>
            </label>
            <label class="custom-control custom-radio">
                <input id="4" name="event" type="radio" class="custom-control-input">
                <span class="custom-control-indicator"></span>
                <span class="custom-control-description">Plays</span>
            </label>
        </div>
    </article>
    <article class="view-categories">
        <div class="view-category">
            <div class="ticket-img">
                <img src="img/img1.jpg">
            </div>
            <div class="category-text">Game of thronesGame of thronesGame of thronesGame of thronesGame of
                thronesGame of thrones
            </div>
            <div class="category-btns">
                <button type="button" id="buyNow" class="btn btn-info btn-sm">Buy now</button>
                <button type="button" id="detailsEvent" class="btn btn-warning btn-sm">Details</button>
                <button type="button" id="deleteEvent" class="btn btn-danger btn-sm">Delete</button>
            </div>
        </div>
    </article>
</article>