<article id="registerView">
    <form class="form-signin">
        <h2 class="form-signin-heading">Please sign up</h2>
        <input type="text" id="inputUsernameReg" class="form-control" placeholder="Username" required="" autofocus="">
        <input type="text" id="inputNameReg" class="form-control" placeholder="Name" required="" autofocus="">
        <input type="email" id="inputEmailReg" class="form-control" placeholder="Email" required="" autofocus="">
        <input type="password" id="inputPasswordReg" class="form-control" placeholder="Password" required="">
        <input type="password" id="inputPasswdRepReg" class="form-control" placeholder="Repeat password" required="">
        <button class="btn btn-lg btn-primary btn-block" type="submit">Register</button>
    </form>
</article>