body{
    background-image: url("../img/backg.jpg");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
main{
    background: rgba(129, 129, 129, 0.95);
    width: 80%;
    margin: 0 auto;
    height: 51em;
    min-width: 900px;
    overflow: auto;
    max-height: 654px;
}

button, input[type="button"], input[type="submit"] {
    cursor: pointer;
}

.err404 {
    max-height: 100%;
    max-width: 100%;
}

.filter-categories {
    display: block;
    margin: 20px;
    padding: 10px;
    background: #b1b1b1;
    max-width: 200px;
    float: left;
    width: 20%;
    position: fixed;
}

.view-categories{
    float: right;
    margin: 20px 20px 0 0;
    padding: 0;
    display: block;
    width: 73%;
}

.view-category{
    height: 160px;
    background: #b1b1b1;
    margin: 0 0 20px 0;
    width: 100%;
}

.category-text{
    width: 55%;
    margin: 10px;
    display: inline-block;
}

.ticket-img {
    float: left;
    height: 100%;
    width: 150px
}

.ticket-img img {
    width: 100%;
    height: 100%;
}

.category-btns {
    float: right;
    width: 100px;
    text-align: center;
}

.category-btns a {
    width: 100%;
    margin: 10px 0 0 0;
    border-radius: 20px;
}

.category-btns button {
    width: 100%;
    margin: 10px 0 0 0;
    border-radius: 20px;
}

footer{
    background: #0f0f0f;
    position: absolute;
    text-align: center;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    color: white;
    height: 50px;
}

.details-img {
    width: 25%;
    height: 35%;
    margin: 20px;
    float: left;
}

.details-img img {
    width: 100%;
    height: 100%;
}

.details-info{
    font-size: 2em;
    float: right;
    width: 70%;
    margin: 20px 0 20px 0;
    padding: 0 10px;
    color: white;
}

.details-info span {
    display: block;
    margin: 0 20px 20px  20px;
}

.details-info h2 {
    color: black;
    display: inline-block;
}

#createView {
    border: 2px solid white;
    width: 60%;
    height: 85%;
    margin: 20px auto;
    padding: 20px;
}

#createView button{
    border-radius: 20px;
    width: 30%;

}

#createView span {
    margin: 0 auto;
    text-align: center;
}

#loginView{
    width: 30%;
    height: 50%;
    margin: 50px auto;
}

#registerView{
    width: 30%;
    height: 50%;
    margin: 50px auto;
}

#deleteConfirmation {
    display: flex;
    opacity: 0.95;
}



#greeting {
    height: 50px;
    display: flex;
    position: relative;
    margin: 30px 30px 0;
}


.avatarTopButton {
    position: absolute;
    width: 125px;
    height: 40px;
    right: 10px;
    top: 5px;
}

.profile {
    display: inline-flex;
}

.profile > div {
    margin: 30px;
}

#avatar {
    width: 200px;
}

#avatar > img {
    width: 200px;
    height: 200px;
}

#content {
    position: static;
}

tr > th,td.splitItems  {
    padding-right:50px
}

tr.spaceUnder>td {
    padding-bottom: 2em;
}

th,td.spaceRight {
    padding-right:50px
}

.inline-custom {
    display: inline-flex;
}

.inline-custom > span {
    margin-right: 15px;
}

.save {
    display: none;
}

.avatarChangeBox {
    position: relative;
    top: 10px;
}

.avatarChangeBox > textarea {
    resize: none;
    width: 200px;
    height: 75px;
}

.avatarBtn {
    width: 200px;
}


#avatar-img {
    width: 40px;
    height: 40px;
    cursor: pointer;
    border-radius: 50%;
}

.avatar-dropdown {
    display: block;
}


input[type=search] {
    letter-spacing: 1px;
    word-spacing: 2px;
    display: block;
    padding: 3px;
    line-height: 2;
    font-family: Georgia;
}


.equalButton{
    height: 10px;
    width: 10px;
    transform: scale(2);
}


.astext {
    background:none;
    border:none;
    margin:0;
    padding:0;
}


.info{
    border: 2px solid white;
    width: 70%;
    margin: 0 auto;
    color: yellow;
    text-align: center;
    font-size: 30px;
    background: black;
}

.info #infoMembers{
    margin: 20px;
}

.info #infoMembers li {
    width: 40%;
    margin: 0 auto;
    text-align: left;
}

#siteInfo span {
    display: block;
    text-align: left;
    width: 40%;
    margin: 0 auto;
}



input.cart-quantity::-webkit-outer-spin-button,
input.cart-quantity::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.cart-quantity {
    width: 50px;
}

.cart-total{
    margin-top: 30px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 400px;
    height: 50px;
}

.cart-total span{
    height: 50px;
    line-height: 50px;
    color: #31b0d5;
    font-weight: bold;
    font-size: 18px;
}

.cart-items{
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 950px;
    height: 300px;
    overflow-y:auto;
    color:white;
}

.cart-quantity-box{
    width:50px;
}

.cart-submit {
    background: transparent;
    border: none !important;
    font-size:0;
}

.splitItems img{
    max-width: 100px;
    max-height: 50px;
}

.cart-items table td{
    padding-left:15px;
    padding-right:15px;
}

.cart-title{
    text-align: center;
    padding-bottom: 50px;
    padding-top: 50px;
    font-size: 40px;
    font-weight: bold;
    color:white;
}

.cart-items table th{
    text-align:left;
    padding-left:15px;
    padding-right:15px;
}

.cart-items-btn {
    border-radius: 20px;
>>>>>>> UserCart
}